# dependencies
node_modules/

# production build
dist/

# system files
.DS_Store

# environment variables
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
